In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
path = "./soccer/"  
database = path + 'database.sqlite'
conn = sqlite3.connect(database)

In [11]:
#Fetching required data tables
player_data = pd.read_sql("SELECT * FROM Player;", conn)
player_stats_data = pd.read_sql("SELECT * FROM Player_Attributes;", conn)
team_data = pd.read_sql("SELECT * FROM Team;", conn)
match_data = pd.read_sql("SELECT * FROM Match;", conn)
countries = pd.read_sql_query("SELECT * from Country", conn)
leagues = pd.read_sql_query("SELECT * from League", conn)

In [30]:
matches = match_data.iloc[:,:11]

In [32]:
matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3
5,6,1,1,2008/2009,1,2008-09-24 00:00:00,492478,8203,8342,1,1
6,7,1,1,2008/2009,1,2008-08-16 00:00:00,492479,9999,8571,2,2
7,8,1,1,2008/2009,1,2008-08-16 00:00:00,492480,4049,9996,1,2
8,9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,0
9,10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,1
10,11,1,1,2008/2009,10,2008-10-31 00:00:00,492565,9985,9986,1,2
11,12,1,1,2008/2009,10,2008-11-02 00:00:00,492566,10000,9991,0,2
12,13,1,1,2008/2009,10,2008-11-01 00:00:00,492567,9994,9998,0,0
13,14,1,1,2008/2009,10,2008-11-01 00:00:00,492568,7947,10001,2,2
14,15,1,1,2008/2009,10,2008-11-01 00:00:00,492569,8203,9999,1,2
15,16,1,1,2008/2009,10,2008-11-01 00:00:00,492570,9996,9984,0,1
16,17,1,1,2008/2009,10,2008-11-01 00:00:00,492571,4049,9987,1,3
17,18,1,1,2008/2009,10,2008-11-02 00:00:00,492572,9993,8635,1,3
18,19,1,1,2008/2009,11,2008-11-08 00:00:00,492573,8635,9994,2,3
19,20,1,1,2008/2009,11,2008-11-08 00:00:00,492574,9998,9996,0,0
20,21,1,1,2008/2009,11,2008-11-09 00:00:00,492575,9986,8342,2,2
21,22,1,1,2008/2009,11,2008-11-07 00:00:00,492576,9984,10000,2,0
22,23,1,1,2008/2009,11,2008-11-08 00:00:00,492577,9991,7947,1,1
23,24,1,1,2008/2009,11,2008-11-08 00:00:00,492578,9999,4049,1,2
24,25,1,1,2008/2009,11,2008-11-08 00:00:00,492579,8571,8203,0,0
25,26,1,1,2008/2009,11,2008-11-08 00:00:00,492580,10001,9987,1,0
26,27,1,1,2008/2009,11,2008-11-09 00:00:00,492581,9993,9985,1,3
27,28,1,1,2008/2009,12,2008-11-16 00:00:00,492582,8342,8635,1,1
28,29,1,1,2008/2009,12,2008-11-15 00:00:00,492583,9987,9999,1,1
29,30,1,1,2008/2009,12,2008-11-15 00:00:00,492584,10000,9993,2,2
...,...,...,...,...,...,...,...,...,...,...,...
25949,25950,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992066,9956,7896,6,1
25950,25951,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992067,10199,9931,1,3
25951,25952,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992068,10190,10243,0,2
25952,25953,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992069,9824,10179,1,1
25953,25954,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992070,10192,10191,3,1
25954,25955,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992071,9931,10191,3,1
25955,25956,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992072,10192,7896,0,1
25956,25957,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992073,10199,10190,0,1
25957,25958,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992074,10179,10243,3,1
25958,25959,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992075,9824,9956,3,3
25959,25960,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992076,7896,9931,1,3
25960,25961,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992077,10179,10192,1,3
25961,25962,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992078,10190,9956,0,2
25962,25963,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992079,10191,9824,1,0
25963,25964,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992080,10243,10199,2,5
25964,25965,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992081,7896,10199,0,1
25965,25966,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992082,9824,10190,1,0
25966,25967,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992083,10191,10179,0,2
25967,25968,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992084,9931,10243,3,1
25968,25969,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992085,9956,10192,3,2
25969,25970,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992086,9931,10190,2,1
25970,25971,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992087,10192,9824,4,0
25971,25972,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992088,10199,9956,3,3
25972,25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992089,10243,10191,3,3
25973,25974,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992090,10179,7896,3,0
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3

In [176]:
#returns a list with the previous h2h, the most recent at the beginning
def getH2HForMatch(match_id):
    match = matches[matches['id'] == match_id]
    hometeam_id = int(match['home_team_api_id'])
    awayteam_id = int(match['away_team_api_id'])
    match_date = match['date'].values[0]
    #same_matches = matches[((matches['home_team_api_id'] == hometeam_id) & (matches['away_team_api_id'] == awayteam_id))]
    #inverse_matches = matches[((matches['home_team_api_id'] == awayteam_id) & (matches['away_team_api_id'] == hometeam_id))]
    all_matches = matches[(matches['home_team_api_id'] == hometeam_id) & (matches['away_team_api_id'] == awayteam_id) \
                          | ((matches['home_team_api_id'] == awayteam_id) & (matches['away_team_api_id'] == hometeam_id))]
    previous_matches = all_matches[matches['date'] < match_date]
    answer = []
    for index, prev_match in previous_matches.iterrows():
        ht_goal = int(prev_match['home_team_goal'])
        at_goal = int(prev_match['away_team_goal'])
        if ht_goal > at_goal:
            answer.append('H')
        elif ht_goal == at_goal:
            answer.append('D')
        else:
            answer.append('A')
    return list(reversed(answer)) #inversed so that the most recent is in front

In [245]:
getH2HForMatch(17400) #most current match 17566 for this example

/Users/steeve/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

['A', 'H', 'A', 'A', 'H', 'D']

In [262]:
#returns a dict with the last 5 matches for both teams with the most recent event at the beginning
def getLastFiveGamesForMatch(match_id):
    match = matches[matches['id'] == match_id]
    hometeam_id = int(match['home_team_api_id'])
    awayteam_id = int(match['away_team_api_id'])
    match_date = match['date'].values[0]
    
    return {'home' : getLastFiveGamesForTeam(hometeam_id, match_date), 'away' : getLastFiveGamesForTeam(awayteam_id, match_date)}

def getLastFiveGamesForTeam(team_id, date):
    all_team_matches = matches[(matches['home_team_api_id'] == team_id) | (matches['away_team_api_id'] == team_id)]
    all_team_matches = all_team_matches[all_team_matches['date'] < date]
    results = []
    for match in all_team_matches.values[-5:,:]:
        ht_goal = int(match[9])
        at_goal = int(match[10])
        ht_id = int(match[7])
        at_id = int(match[8])
        #print match
        if ht_goal == at_goal:
            results.append('D')
        elif ((ht_id == team_id) and (ht_goal > at_goal)) or ((at_id == team_id) and (ht_goal < at_goal)):
            results.append('W')
        else:
            results.append('L')
    return list(reversed(results))

In [263]:
getLastFiveGamesForMatch(17391)

{'away': ['W', 'D', 'L', 'D', 'L'], 'home': ['L', 'W', 'W', 'W', 'D']}